<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        {{# if login}}
        <form action="/user/update" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" value="{{user.email}}" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" value="{{user.name}}" id="name" name="name" class="form-control">
            </div>
             <div class="form-group">
                <label>Contact</label>
                <input type="text" value="{{user.contact}}" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" value="{{user.add1}}" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>Pin</label>
                <input type="text" value="{{user.pin}}" id="name" name="name" class="form-control">
            </div>
        
            {{!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Update</button> --}}
        </form>
        {{/if}}
        <hr>
        <h2>My Orders</h2>
        {{# each orders }}
          <h2>{{this.mman}}</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge">{{ this.price }}</span>
                                {{ this.item.title }} | {{ this.qty }} Units
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div>
        {{/each}}
    </div>
</div>